<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meetings</title>
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
</head>
<body>
<div th:insert="~{blocks/admin-header :: nav-admin}"></div>
<div class="container my-5">
    <h1>Meetings</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Venue</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="meeting : ${meetings}">
            <td data-th-text="${meeting.meetingdate}">1.01.2001</td>
            <td data-th-text="${meeting.venue}">Main Hall</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>