<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
</head>
<body>
<div th:insert="~{blocks/admin-header :: nav-admin}"></div>
<div>
    <h1>Meeting</h1>
    <div>
        <p data-th-text="${meeting.meetingdate}">Date: ${#dates.format(meeting.date, 'dd-MMM-yyyy')}</p>
        <p data-th-text="${meeting.venue}">Venue: ${meeting.venue}</p>
        <p data-th-text="${meeting.protocol}">Protocol: {}</p>
        <form data-th-action="@{/admin/meetings/{id}/update(id=${meeting.getId()})}" method="post">
            <div data-th-if="${#lists.size(persons) > 0}">
                <ul data-th-each="person : ${persons}">
                    <li>
                        <input type="checkbox" name="idList1[]" data-th-value="${person?.id}"/>
                        <span data-th-text="${person?.surname}"></span>
                        <span data-th-text="${person?.name}"></span>
                        <span data-th-text="${person?.patronymic}"></span>
                        <span data-th-text="${person?.contact}"></span>
                    </li>
                </ul>
                <button type="submit">Save</button>
            </div>
            <div data-th-if="${#lists.size(persons) == 0}">
<!--            <div data-th-if="${#lists.size(persons) == 0}">-->
                <p>No persons to add.</p>
            </div>
        </form>
        <p>Attendees:</p>
        <form data-th-action="@{/admin/meetings/{id}/remove-users(id=${meeting.getId()})}" method="post">
            <div data-th-if="${#lists.size(attendees) > 0}">
                <ul data-th-each="attendee : ${attendees}">
                    <li>
                        <input type="checkbox" name="idList2[]" data-th-value="${attendee?.id}"/>
                        <span data-th-text="${attendee?.surname}"></span>
                        <span data-th-text="${attendee?.name}"></span>
                        <span data-th-text="${attendee?.patronymic}"></span>
                        <span data-th-text="${attendee?.contact}"></span>
                    </li>
                </ul>
                <button type="submit">Remove from attendees</button>
            </div>
            <div data-th-if="${#lists.size(attendees) == 0}">
                <!--            <div data-th-if="${#lists.size(persons) == 0}">-->
                <p>No persons to remove.</p>
            </div>
        </form>
    </div>
</div>

</body>
</html>