<div data-th-fragment = "nav-admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" data-th-href="@{/}">Owners Association</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/admin/meetings}">Meetings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/admin/topics}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/admin/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/admin/flats}">Flats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>