<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
</head>
<body>
<div class="container my-5">
    <h1>Comments</h1>
    <ul data-th-each="comment : ${comments}">
        <li>
            <span data-th-text="${comment.topic}">Topic 0001</span>
            <span data-th-text="${comment.date}">1.01.2001</span>
            <span data-th-text="${topic.person}">John Doe</span>
        </li>
    </ul>
</div>
</body>
</html>